{{!-- Citation for node starter project
Adapted from CS340 node-starter-app
URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
Date Retrieved: Feb 26, 2025 --}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>BYTE GAMES | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      </head>
    <body>
        <header>
            <h1>BYTE GAMES</h1>
        </header>
        <nav id="home-nav">
            <a href="/" >Home</a>
        </nav>
        <main>
            <section>
                <article>
                    <a href="/games">
                        <h2>Games</h2></a>
                    <p>Inventory of games that are carried in store.</p>
                </article>
                <article>
                    <a href="/developers">
                        <h2>Developers</h2></a>
                    <p>Developers of games found in the store.</p>
                </article>
                <article>
                    <a href="/customers">
                        <h2>Customers</h2></a>
                    <p>Stores customer's information.</p>
                </article>
                <article>
                    <a href="/orders">
                        <h2>Orders</h2></a>
                    <p>Customer's order information.</p>
                </article>
                <article>
                    <a href="/ordersgames">
                        <h2>OrdersGames</h2></a>
                    <p>Intersection table for orders and games.</p>
                </article>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 X'avier Tejada | Christian Duval</p>
        </footer>
    </body>
</html>
